joblib==1.4.0
matplotlib==3.7.5
numpy==1.24.4
pandas
praat-parselmouth
pytorch_lightning==2.4.0
scikit_learn==1.3.2
scipy
seaborn==0.13.2
torch==2.3.0
torchaudio==2.3.0
torchmetrics==1.4.2
torchvision==0.18.0
transformers==4.41.0
wandb==0.18.3
loguru
shap==0.42.1
captum==0.7.0